body, html{
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 12px;
    background-color: brown;
    grid-row: 1/3;
}

.flex-container > a{
    margin-right: 15px;
    color: white;
}

.flex-container > a:hover {
    color: coral;
} 
a.current {
    color: coral;
}

.header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    column-width: auto;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: beige;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blanchedalmond;
}

.table{
    width: 50%;
    height: 0%;
    margin: auto;
    justify-content: center;
    background-color: brown;
    font-family: 'Times New Roman', Times, serif;
    color: beige;
}

footer {
    background-color: black;
    grid-row: 1/3;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    color: bisque;
    position: sticky;
}

footer > a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

footer > a:hover{
    color: coral;
} 

footer > a.current{
    color: coral;
}